---
import BaseLayout from './BaseLayout.astro';
const {frontmatter} = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
    <section>
        <main>
            <div class="post-content">
                <a class="back-btn" href="/blog/">Lista de blogs</a>
                <p><em>{frontmatter.description}</em></p>
                <p>Publicado el: {frontmatter.pubDate.toString().slice(0, 10)}</p>

                <p>Escrito por: {frontmatter.author}</p>

                <img src={frontmatter.image.url} alt={frontmatter.image.alt}/>

                <slot/>
            </div>
        </main>
    </section>
</BaseLayout>
<style>
    /* Diseño base */
    .post-content {
        text-align: left;
        padding: 20px;
        box-sizing: border-box; /* Incluye padding y border en el ancho total */
    }

    main {
        max-width: 1000px;
        margin: 0 auto;
        padding: 20px;
        box-sizing: border-box; /* Incluye padding y border en el ancho total */
    }

    a {
        text-decoration: none;
        color: black; /* Ajusta el color del texto del enlace */
    }

    ul {
        padding: 0; /* Elimina el padding de la lista */
        margin: 0; /* Elimina el margen de la lista */
    }

    li {
        display: inline-block;
        padding: 8px 12px;
        margin: 5px;
        background-color: #ffcccb; /* Color de fondo de la cinta */
        border-radius: 3px;
        position: relative;
        font-weight: bold;
        color: #333;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 1px;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
        list-style: none; /* Elimina los puntos de la lista */
    }

    li:hover {
        background-color: #e1b1b1;
    }

    li::before, li::after {
        content: '';
        position: absolute;
        top: 50%;
        width: 10px;
        height: 10px;
        background-color: inherit;
        border-radius: 50%;
        transform: translateY(-50%);
    }

    li::before {
        left: -5px;
    }

    li::after {
        right: -5px;
    }

    img {
        max-width: 30%;
        height: auto;
    }

    /* Diseño para pantallas pequeñas */
    @media (max-width: 600px) {
        .post-content {
            max-width: 450px;
            padding: 10px;
        }

        main {
            padding: 10px;
        }
    }
</style>